.header {
  background-color: $White;
  display: flex;
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 30px;

  &__section {
    img {
      border-radius: 30px 0px 0px 30px;
    }

    &--description {
      margin-left: calculator-rem(45);
      padding-top: calculator-rem(70);

      h2 {
        color: $Dark-grayish-blue;
        font-family: "Montserrat", sans-serif;
        font-size: calculator-rem(32);
        font-weight: lighter;
        font-style: normal;
        line-height: 100%;
        text-transform: uppercase;
      }

      h1 {
        font-family: "Fraunces", serif;
        color: $Very-dark-blue;
        font-size: calculator-rem(64);
        margin-top: calculator-rem(40);
        padding-right: calculator-rem(90);
      }

      &--text {
        p {
          font-family: "Montserrat", sans-serif;
          color: $Dark-grayish-blue;
          font-size: calculator-rem(30);
          font-weight: lighter;
          font-style: normal;
          margin-top: calculator-rem(40);
          padding-right: calculator-rem(40);
        }
      }

      &--price {
        display: flex;
        margin-top: calculator-rem(40);

        h3 {
          font-size: calculator-rem(64);
          color: $Dark-cyan;
          font-family: "Fraunces", serif;
        }

        h4 {
          font-family: "Fraunces", serif;
          font-size: calculator-rem(32);
          color: $Dark-grayish-blue;
          text-decoration: line-through;
          font-weight: lighter;
          font-style: normal;
          margin-left: 60px;
          margin-top: 24px;
        }
      }
    }
  }

  &__button {
    img {
      display: inline-block;
      margin-left: 10px;
      width: calculator-rem(24);
    }
  }
}
