*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*--fonts--
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
*/

@import "./partius/colors";

body {
  width: 100%;
  height: 100vh;
  background-color: $Cream;
}

$container-l: 1200px;
$container-mobile: 375px;

.container {
  width: 100%;
  max-width: $container-l;
  margin: 0 auto;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

@import "./partius/mixin";
@import "./partius/layout";
@import "./partius/buttons";
